@font-face {
  font-family: "Arcade";
  src: url("/assets/fonts/ARCADE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;       
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: #050510;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  background: #0a0e0a !important;
}
