<div class="game-root">
  
  <div id="help-screen" class="screen hidden">
    <h2>How to play</h2>
    <ul>
      <li>Move: Arrow Keys or WASD</li>
      <li>Shoot: Space</li>
      <li>If anomalies hit bottom, system status drops!</li>
    </ul>
    <button id="back-btn" (click)="hideHelp()">Back</button>
  </div>

  <div id="game-screen" class="screen hidden">
    
    <app-hud 
      [score]="score" 
      [highscore]="highscore" 
      [lives]="lives" 
      [wave]="level"> 
    </app-hud>

    <canvas #canvas width="900" height="600"></canvas>
    
    <div id="overlay">
      <div id="pause">Paused</div>
    </div>
  </div>


<!-- GAME OVER SCREEN (neuer Bereich) -->
<div id="gameover-screen" class="hidden">
  <div class="gameover-bg">

    <h1 class="gameover-title">GAME OVER</h1>

    <div class="score-box">
      Your Score:
      <span id="final-score">0</span>
    </div>

    <button class="retry-btn" (click)="start()">Retry</button>
    <button class="menu-btn" (click)="back()">Back to Menu</button>

  </div>

</div>